*{
    margin: 0;
}
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.3fr 2fr 1.7fr 0.5fr 0.5fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    'nav nav'
    'main top_aside'
    'main bottom_aside'
    'section section'
    'footer footer';
}
nav{
    background: #D9D9D9;
    grid-area: nav;
}
main{
    background: #A4A4A4;
    grid-area: main;
}
div aside:nth-child(3){
    background: #7F7A7A;
    grid-area: top_aside;
}
div aside:nth-child(4){
    background: #615050;
    grid-area: bottom_aside;
}
section{
    background: #D9D9D9;
    grid-area: section;
}
footer{
    background: #AFA9A9;
    grid-area: footer;
}