*{
    margin: 0;
}
header, footer{
    height: 22vh;
    background-color: #D9D9D9
}
main{
    height: 56vh;
    display: flex;
}
aside{
    width: 27vw;
    background-color: #C0BDBD;
}
div{
    display: flex;
    flex-direction: column;
    width: 46vw;
}
.top{
    height: 26vh;
    background-color: #827878;
}
.bottom{
    height: 30vh;
    background-color: #B7ADAD;
}