@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 64px auto;
    width: 1180px;
    gap: 32px;
}
.item{
    width: 372px;
    text-align: center;
}